<div class="vp-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="index.html">
            <span class="logo-p">PP------------</span
            ><span class="logo-c">C</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <header>
    <nav>
      <div class="navbar">
        <i class="fas fa-bars"></i>
        <div class="logo">
          <a href="index.html">
            <span class="logo-p">PP</span><span class="logo-c">C</span>
          </a>
        </div>

        <div class="nav-links">
          <div class="sidebar-logo">
            <span class="mon-logo">
              <span class="logo-p">PPC</span>
            </span>
            <i class="fas fa-times"></i>
          </div>
          <ul class="links">
            <li><a href="index.html">Accueil</a></li>

            <li>
              <a href="#">Sci</a>
              <i class="fas fa-chevron-down arrow sci-arrow"></i>
              <!--------------sous menu-------------->
              <ul class="sci-sub-menu sub-menu">
                <li>
                  <a href="./html/sci/sci-1ere-annee.html">Sci 1ère année</a>
                </li>
                <li>
                  <a href="./html/sci/sci-2ieme-annees.html">Sci 2ème année</a>
                </li>
                <li>
                  <a href="./html/sci/sci-3ieme-annees.html">Sci 3ème année</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Sch</a>
              <i class="fas fa-chevron-down arrow sch-arrow"></i>
              <ul class="sch-sub-menu sub-menu">
                <li>
                  <a href="./html/sch/sch-1ere-annee.html">Sch 1ère année</a>
                </li>
                <li>
                  <a href="./html/sch/sch-2ieme-annees.html">Sch 2ème année</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Histoire</a>
              <i class="fas fa-chevron-down arrow histoire-arrow"></i>
              <ul class="histoire-sub-menu sub-menu">
                <li>
                  <a href="./html/histoire/histoire-4_5-annee.html"
                    >Histoire 4/5ème année</a
                  >
                </li>
                <li>
                  <a href="./html/histoire/histoire-6eme-annee.html"
                    >Histoire 6ème année</a
                  >
                </li>
                <li>
                  <a href="./html/histoire/histoire-7eme-annee.html"
                    >Histoire 7ème année</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Géographie</a>
              <i class="fas fa-chevron-down arrow geographie-arrow"></i>
              <ul class="geographie-sub-menu sub-menu">
                <li>
                  <a href="./html/geographie/geographie-4_5-annee.html"
                    >Géographie 4/5ème année</a
                  >
                </li>
                <li>
                  <a href="./html/geographie/geographie-6eme-annee.html"
                    >Géographie 6ème année</a
                  >
                </li>
                <li>
                  <a href="./html/geographie/geographie-7eme-annee.html"
                    >Géographie 7ème année</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <a href="./html/primaire/primaire.html">Primaire</a>
              <i class="fas fa-chevron-down arrow primaire-arrow"></i>
            </li>

            <li>
              <a href="./html/commande-2022/commande-2022.html"
                >Commande 2022</a
              >
            </li>

            <li>
              <a href="#">Paiement</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="vp">
    <img src="images/accueil/Accueil-ppc.jpeg" alt="salle de classe" />
    <div class="vp-content">
      <h1>
        <span class="phrase-de-bienvenue">Bienvenue chez</span>
        <span class="logo-p lettre">PP</span
        ><span class="logo-c lettre">C</span>
      </h1>
    </div>
  </section>
</div>

<!---------------------- section production --------------->
<section class="production">
  <div class="container">
    <div class="production-container-texte">
      <h2><strong>Nos livres</strong></h2>
      <p>
        Découvrez nos productions collaboratives pour le primaire et le
        secondaire. Réalisées par des enseignants situés dans toute l’Europe,
        ces productions sont adaptées aux exigences linguistiques des programmes
        européens et internationaux.
      </p>
    </div>
    <div class="production-container-img">
      <img
        src="./images/accueil/drapeau-europeen.jpeg"
        alt="drapeau européen"
      />
    </div>
  </div>
</section>

<!---------------------- section pedagogie --------------->
<section class="pedagogie">
  <div class="container-2">
    <div class="pedagogie-container-2-img">
      <img
        src="./images/accueil/accuei-ppc-pedagogie.jpeg"
        alt="livre de science"
      />
    </div>

    <div class="pedagogie-container-2-texte">
      <h2><strong>Pédagogie</strong></h2>
      <p>
        Issu d’une pédagogie stimulante, fondé sur la découverte et l’enquête,
        le riche catalogue de documents permet aux élèves de construire leur
        propre savoir.
      </p>
    </div>
  </div>
</section>
<!------------------------ footer ------------------------------>
<footer>
  <div class="pied-de-page">
    <p>&#9400; Copyright PPC</p>
    <p>
      <span class="mail-ppc"> contact: ppc.livres@gmail.com </span>
    </p>
  </div>
</footer>
