<nav-bar></nav-bar>
<div class="vp-container">
  <header></header>
  <section class="vp">
    <img src="images/accueil/Accueil-ppc.jpeg" alt="salle de classe" />
    <div class="vp-content">
      <h1>
        <span class="phrase-de-bienvenue">Bienvenue chez</span>
        <span class="logo-p lettre">PP</span
        ><span class="logo-c lettre">C</span>
      </h1>
    </div>
  </section>
</div>

<!---------------------- section production --------------->
<section class="production">
  <div class="container">
    <div class="production-container-texte">
      <h2><strong>Nos livres</strong></h2>
      <p>
        Découvrez nos productions collaboratives pour le primaire et le
        secondaire. Réalisées par des enseignants situés dans toute l’Europe,
        ces productions sont adaptées aux exigences linguistiques des programmes
        européens et internationaux.
      </p>
    </div>
    <div class="production-container-img">
      <img
        src="./images/accueil/drapeau-europeen.jpeg"
        alt="drapeau européen"
      />
    </div>
  </div>
</section>

<!---------------------- section pedagogie --------------->
<section class="pedagogie">
  <div class="container-2">
    <div class="pedagogie-container-2-img">
      <img
        src="./images/accueil/accuei-ppc-pedagogie.jpeg"
        alt="livre de science"
      />
    </div>

    <div class="pedagogie-container-2-texte">
      <h2><strong>Pédagogie</strong></h2>
      <p>
        Issu d’une pédagogie stimulante, fondé sur la découverte et l’enquête,
        le riche catalogue de documents permet aux élèves de construire leur
        propre savoir.
      </p>
    </div>
  </div>
</section>
<!------------------------ footer ------------------------------>
<footer>
  <div class="pied-de-page">
    <p>&#9400; Copyright PPC</p>
    <p>
      <span class="mail-ppc"> contact: ppc.livres@gmail.com </span>
    </p>
  </div>
</footer>
